ECR_REGISTRY=701527496236.dkr.ecr.us-east-2.amazonaws.com
BACKEND_TAG=latest
FRONTEND_TAG=latest
DB_IMAGE=postgres:16-alpine

POSTGRES_DB=nila
POSTGRES_USER=nila
POSTGRES_PASSWORD=CHANGE_ME_DB_PASSWORD

DJANGO_SECRET_KEY=CHANGE_ME_DJANGO_SECRET_KEY_MIN_32
DJANGO_DEBUG=0
ALLOWED_HOSTS=YOUR_EC2_PUBLIC_DNS,YOUR_EC2_PUBLIC_IP,localhost,127.0.0.1

ADMIN_USERNAME=admin
ADMIN_EMAIL=admin@nila.local
ADMIN_PASSWORD=admin1234

FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=

GUNICORN_WORKERS=3
GUNICORN_TIMEOUT=120
